@model Timelinio.Models.Event
<div>
    <h2>Edit</h2>

    <form asp-action="Edit">
        <div class="form-horizontal">
            <h4>Event</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input id="editEventDate" class="form-control" type="date" asp-for=@Model.Date/>
                    <span asp-validation-for="Date" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input id="editEventDescription" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
        <input asp-for="TimelineID" type="hidden" asp-items="Model.TimelineID" />
            <div class="form-group">
                <label asp-for="Title" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input id="editEventTitle" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button class="btn-primary btn-lg" id="editSave" value="@Model.EventID">Save</button>
                </div>
            </div>
        </div>
    </form>

    <div>
        <button class="btn-lg" id="editDismiss">Go Back</button>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
