@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Timelinio is a project to help me learn ASP.Net Core MVC.  Checkout the README on GitHub for more information if you wish!</p>
