@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="well well-sm">
    <address>
        <strong>GitHub:</strong> <a href="http://github.com/wolfgangwarneke">github.com/wolfgangwarneke</a><br />
        <strong>Twitter:</strong> <a href="https://twitter.com/wolfgangwarneke">@("@WolfgangWarneke")</a>
    </address>
</div>