@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6 well well-lg" id="homeLeft">
        <h1 id="welcome">Welcome!</h1>
        <p><strong>Timelinio</strong> is a tool to help keep track of your life. (Or anyone else or anything else, it's up to you!)  Create a new timeline and add events to it.</p>
        <h3>The future...</h3>
        <p>In the future we will be integrating more features to help make Timelinio be the best way to keep tabs on your memories or help you research or visualize anything! Stay tuned.</p>
    </div>
    <div class="col-md-6">
        <h2>Would you like to...</h2>
        <ul>
            <li>Keep track of your life?</li>
            <li>Keep track of childhood memories??</li>
            <li>Collaborate with family members to keep track of important family history?</li>
            <li>See how often you take vacations?</li>
            <li>more...????</li>
        </ul>
    </div>

</div>
